/* Images for animation */

.container {
    position: relative;
}
.ocean {
    width: 100%;
    height: 100vh;
}
.iceberg {
    position: absolute;
    left: 38%;
    top: 35%;
    animation: iceberg 3s linear infinite alternate;
}
.titanic {
    position: absolute;
    left: 0;
    top: 33%;
    width: 400px;
    animation: titanic 5s forwards, damaged-titanic 8s linear 5s forwards;
}
.moon {
    width: 140px;
    position: absolute;
    right: 38%;
    top: 40px;
    z-index: 100;
    animation: moon 5s linear infinite alternate;
}
.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.stars1 {
    position: absolute;
    left: 0;
    top: 50px;
    height: 140px;
    z-index: 100;
    animation: stars 1.5s infinite ease  alternate 500ms;
}
.stars2 {
    position: absolute;
    right: 26%;
    top: 10px;
    height: 120px;
    z-index: 100;
    animation: stars 1.5s infinite ease  alternate 1.5s;
}
.cloud1 {
    position: absolute;
    top: 22px;
    left: 26%;
    height: 160px;
    animation: first-cloud 8s infinite linear alternate;
}
.cloud2 {
    position: absolute;
    top: 40px;
    right: 0;
    height: 160px;
    animation: second-cloud 5s infinite linear alternate;
}

/* Keyframes */

@keyframes stars {
    0% {transform: scale(1)}
    100% {transform: scale(1.2)}
}
@keyframes first-cloud {
    0% {transform: translate(0px)}
    100% { transform: translate(-280px)}
}
@keyframes second-cloud {
    0% {transform: translate(0px)}
    100% {transform: translate(-100px)}
}
@keyframes moon {
    0% {transform: rotate(0deg)}
    30% {transform: rotate(6deg);}
    100% {transform: rotate(-10deg)}
}
@keyframes iceberg {
    0% {top: 35%;}
    25% {top: 34.5%;}
    50% {top: 35%}
    75% {top: 35.5%}
    100% {top: 35%}
}
@keyframes titanic {
    0% {left: 0}
    100% {left: 23%}
}

@keyframes damaged-titanic {
    0% {transform: translateX(0);}
    50% {left: 28%; transform: rotate(20deg);}
    100% {transform: translateY(400px);}
}